*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  font-size: 62.5%;
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: {
      family: $font-family;
      weight: 100;
    }
    color: $text-color;
  }
}
.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
img {
  display: flex;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
