// COLOR
$linear-gardient: linear-gradient(90deg, #0d4c93, #00c9c9);
$product-linear-gradient: linear-gradient(
  180deg,
  #f8f8f8 0%,
  rgba(248, 248, 248, 0) 100%
);

$primary-color: #0d4c93;
$hover-color: #00c9c9;
$text-color: #363535;
// FONTS
$font-family: "Roboto", Arial, sans-serif;
